<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.gg.itbook.modules.book.model.BookCategory" alias="BookCategory"/>
        <typeAlias type="com.gg.itbook.modules.book.model.Book" alias="Book"/>
    </typeAliases>
</configuration>